<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaweizi.qnews">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:configChanges="screenSize"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewsDataShowActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TodayDetailActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize"
            android:screenOrientation="portrait" />
    </application>

</manifest>